<%- include('partials/header') %>
    
<div class="container">
    
    <div class="home-btn-container">
        <a href="/register" role="button" class="btn btn-light btn-lg">Register</a>
        <a href="/login" role="button" class="btn btn-dark btn-lg">Login</a>
    </div>
</div>

<%- include('partials/footer') %>